.loader_wrapper {
	position: fixed;
 height: 100vh;
 width: 100vw;
 background-color: var(--bg-dark-blue);
 z-index: 2000;

}
.loader {
	width: 150px;
	height: 150px;
	position: relative;
	margin: 220px auto;
	
}
.logo{
	width:45%;
	position:absolute;
	left:27.5%;
	top: 27.5%;
}
.logo img{
	  width:100%;
	  z-index: 100;
	}

.bounce1, .bounce2, .bounce3 {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: var(--primary-color);
	opacity: 0.7;
	position: absolute;
	top: 0;
	left: 0;
	 
	-webkit-animation: spreadout 2.7s infinite ease-in-out;
	animation: spreadout 2.7s infinite ease-in-out;
  }
  
  .bounce2 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
  }
  
  .bounce3 {
	-webkit-animation-delay: -1.8s;
	animation-delay: -1.8s;
  }
  
  
  @-webkit-keyframes spreadout {
	0% { -webkit-transform: scale(0.3) }
	80% {
	  -webkit-transform: scale(1.0);
	}
	100% {
	  opacity: 0;
	}
  }
  
  @keyframes spreadout {
	0% { 
	  -webkit-transform: scale(0.3);
	  transform: scale(0.3);
	}
	80% {
	  -webkit-transform: scale(1.0);
	  transform: scale(1.0);
	}
	100% {
	  opacity: 0;
	}
  }