@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #fdcc47;
  --secondary-color: #0e1525;
  --bg-dark-blue: #091020;
  --bg-white: #fff;
  --gray-color: #c6c9d8bf;
  --gradient-color: linear-gradient(
    -224deg,
    var(--primary-color) 0,
    #337dff 100%
  );
  --gradient-text: linear-gradient(
    120deg,
    #1c99fe 20.69%,
    #7644ff 50.19%,
    var(--primary-color) 79.69%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='var(--primary-color)', endColorstr='var(--secondary-color)', GradientType=1);
  --primary-font: "Poppins", sans-serif;
  /* --primary-text: #FD4766; */
  --primary-text: #fdcc47;
  --text-gray: #c6c9d8bf;
  --text-white: #fff;
}

body {
  font-family: var(--primary-font);
  background-color: var(--secondary-color);
}

img {
  -webkit-user-drag: none;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 30px;
  display: none;
  z-index: 2;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--bg-dark-blue);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  margin: 0;
}

section {
  padding: 50px 0;
}

.main-btn {
  display: inline-block;
  border-radius: 50px;
  margin: auto;
  transition: all 0.4s ease-in-out;
  padding: 10px 27px;
  background-color: transparent;
  border: 2px solid var(--gray-color);
  color: var(--text-gray);
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
}

.main-btn:hover {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--text-white);
}

#sendmail {
  width: fit-content;
}

.disabled_def {
  transition: none;
  cursor: pointer;
  pointer-events: none;
}

h1 {
  font-size: 54px;
  line-height: 68px;
  font-weight: 800;
  color: var(--text-white);
  margin-bottom: 20px;
}

h1 span {
  color: var(--primary-color);
}

h2 {
  font-size: 50px;
  line-height: 1.3;
  font-weight: 600;
  color: var(--text-white);
  margin-bottom: 15px;
}

h3 {
  margin-bottom: 19px;
  font-weight: 600;
  font-size: 20px;
  color: var(--text-white);
}

h6 {
  color: var(--text-gray);
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 4px;
  display: block;
  margin-bottom: 20px;
}

p {
  color: var(--text-gray);
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 1px;
  font-weight: 400;
}

.waver {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(14deg);
  }

  20% {
    transform: rotate(-8deg);
  }

  30% {
    transform: rotate(14deg);
  }

  40% {
    transform: rotate(-4deg);
  }

  50% {
    transform: rotate(10deg);
  }

  60% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.subtitle {
  display: inline-block;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 18px;
  font-size: 16px;
  margin-bottom: 12px;
  background: var(--primary-color);
  background: var(--gradient-text);
  background-clip: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.supernumber {
  display: inline-block;
  font-weight: 600;
  letter-spacing: 0.5px;
  font-size: 60px;
  margin: 10px;
  background: var(--primary-color);
  background: var(--gradient-text);
  background-clip: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

input:hover,
input:focus,
textarea:focus,
textarea:hover,
button {
  outline: none !important;
  box-shadow: none !important;
}

/* 2 Navbar */
.header_wrapper .navbar {
  padding: 15px 0;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  max-width: 100vw;
}

.header_wrapper .navbar-brand img {
  max-width: 120px;
  height: auto;
}

.header_wrapper .navbar-toggler {
  border: 0;
  color: var(--gray-color);
  line-height: 2;
}

.header_wrapper .navbar-toggler:focus {
  box-shadow: none;
}

.header_wrapper .nav-item {
  margin: 0 10px;
}

.header_wrapper .nav-item .nav-link {
  position: relative;
  font-size: 16px;
  font-weight: 500;
  color: var(--text-gray);
  display: inline-block;
}

.header_wrapper .nav-item .nav-link::after {
  position: absolute;
  content: "";
  left: 0;
  width: 0;
  height: 2px;
  background: var(--primary-color);
  transition: 0.3s;
  bottom: 0;
}

.header_wrapper .nav-item .nav-link.active::after,
.header_wrapper .nav-item .nav-link:hover::after {
  width: 100%;
}

.header_wrapper .nav-item .nav-link.active,
.header_wrapper .nav-item .nav-link:hover {
  color: var(--text-white);
}

.header-scrolled {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--bg-dark-blue);
  -webkit-box-shadow: 0 4px 6px 0 rgba(12, 0, 46, 0.05);
  box-shadow: 0 4px 6px 0 rgba(12, 0, 46, 0.05);
}

.header-scrolled .nav-item .nav-link.active,
.header-scrolled .nav-item .nav-link:hover {
  color: var(--primary-text);
}

.banner_wrapper h1,
.banner_wrapper h2 {
  position: relative;
  z-index: 1;
  pointer-events: none;
}

.banner_wrapper .main-btn {
  position: relative;
  z-index: 1;
  cursor: pointer;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.banner_wrapper {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  padding: 200px 0 100px 0;
}

.about_wrapper ul.nav-pills {
  border: none;
  border-radius: 50px;
}

.about_wrapper ul li .nav-link {
  border-radius: 50px;
  font-size: 15px;
  font-weight: 500;
  transition: all 0.45s cubic-bezier(0, 0, 0.2, 1);
  display: inline-block;
  color: var(--text-gray);
  border: none;
  transition: 0.3s;
}

.about_wrapper ul li .nav-link.active {
  color: var(--bg-dark-blue);
  background-color: var(--primary-color);
}

.about_wrapper .single-progress {
  margin-top: 26px;
  position: relative;
  overflow: hidden;
}

.about_wrapper img {
  width: 300px;
  height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.about_wrapper .single-progress .progress {
  height: 4px;
  border-radius: 4px;
  box-shadow: none;
  background-color: var(--bg-white);
  overflow: visible;
}

.about_wrapper .progress-bar {
  background-color: var(--primary-color);
  background-image: var(--gradient-color);
}

.about_wrapper .card {
  background-color: var(--bg-dark-blue);
  aspect-ratio: 1;
  width: 100px;
  height: 100px;
}

.about_wrapper .card img {
  width: 100%;
  height: 100%;
}

.about_wrapper .single-progress h6 {
  text-align: left;
}

.about_wrapper .single-progress .label {
  position: absolute;
  right: 0;
  top: 0;
  color: var(--text-gray);
  font-size: 15px;
}

.about_wrapper .tab-pane li {
  color: var(--gray-color);
  font-size: 16px;
  margin-bottom: 15px;
  font-weight: 300;
  list-style: none;
}

.about_wrapper .tab-pane li a {
  font-weight: 500;
  display: block;
  color: var(--text-gray);
}

.services_wrapper .card {
  background-color: var(--bg-dark-blue);
  cursor: pointer;
  transition: transform 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
  box-shadow: 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
}

.services_wrapper .card:hover {
  box-shadow: 0px 2px 70px 0px rgb(253 71 102 / 5%);
  transform: translateY(-5px);
}

/* projects */
.projects_wrapper .card {
  box-shadow: 0 0 16px 4px var(--bg-dark-blue);
  background-color: var(--bg-dark-blue);
  min-height: 400px;
  max-height: 600px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
}

.projects_wrapper img {
  border-radius: 10px 10px 2px 2px;
}

.projects_wrapper .card:hover {
  box-shadow: 0px 2px 70px 0px rgb(253 71 102 / 5%);
  transform: translateY(-10px);
}

/* Blog wrapper */
.blogs_wrapper .card {
  box-shadow: 0 0 16px 4px var(--bg-dark-blue);
  background-color: var(--bg-dark-blue);
  min-height: 400px;
  max-height: 600px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
}

.blogs_wrapper img {
  border-radius: 10px 10px 2px 2px;
}

.blogs_wrapper .card:hover {
  box-shadow: 0px 2px 70px 0px rgb(253 71 102 / 5%);
  transform: translateY(-10px);
}

.featured-badge {
  position: absolute;
  background-color: var(--primary-color);
  color: #000;
  top: 10px;
  right: 10px;
}
.featured-badge img {
  width: 30px;
  height: 30px;
}
/* Certification */
.certification_wrapper img {
  box-shadow: 0 0 16px 4px var(--bg-dark-blue);
  border-radius: 10px;
  object-fit: contain;
  min-height: 400px;
  max-height: 600px;
}

.certification_wrapper button {
  color: var(--primary-color);
}

/* Contact Form */
.contact_wrapper .form-control,
.contact_wrapper textarea {
  background-color: transparent;
  border-color: var(--gray-color);
  color: var(--text-gray);
  font-size: 15px;
  font-weight: 400;
  padding: 10px 20px;
}

.contact_wrapper .form-control:hover,
.contact_wrapper textarea:hover,
.contact_wrapper .form-control:focus,
.contact_wrapper textarea:focus {
  border-color: var(--primary-color);
  color: var(--text-white);
}

.contact_wrapper button {
  width: 120px;
}

.footer_wrapper {
  background-color: var(--bg-dark-blue);
  margin: auto;
  padding: 20px 0;
}

.footer_wrapper .social-icon li {
  margin: 6px;
}

.footer_wrapper .social-icon a {
  width: 35px;
  height: 35px;
  line-height: 30px;
  font-size: 14px;
  display: inline-block;
  border: 2px solid var(--text-gray);
  color: var(--text-gray);
  text-align: center;
  border-radius: 100%;
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.footer_wrapper .social-icon a:hover {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--text-white);
  box-shadow: 0 10px 15px 0 rgb(0 0 0 / 10%);
  transform: translateY(-3px);
}

.footer_wrapper .copyright-text p {
  font-size: 11px;
  line-height: 20px;
}

.footer_wrapper .copyright-text a {
  color: var(--primary-color);
}

/* Newsletter */
.modal-newsletter {
  color: #9f9f9f;
  width: 525px;
  font-size: 15px;
}
.modal-newsletter .modal-content {
  padding: 40px 50px;
  border-radius: 1px;
  border: none;
}
.modal-newsletter .modal-header {
  border-bottom: none;
  position: relative;
  text-align: center;
  border-radius: 5px 5px 0 0;
}
.modal-newsletter h4 {
  color: #000;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 30px;
  margin: 0;
  text-transform: uppercase;
}
.modal-newsletter .close {
  position: absolute;
  top: -25px;
  right: -35px;
  color: #c0c3c8;
  text-shadow: none;
  opacity: 0.5;
  font-size: 26px;
  font-weight: normal;
}
.modal-newsletter .close:hover {
  opacity: 0.8;
}
.modal-newsletter .form-control,
.modal-newsletter .btn {
  min-height: 46px;
  text-align: center;
  border-radius: 1px;
}
.modal-newsletter .form-control {
  box-shadow: none;
  background: #f5f5f5;
  border-color: #d5d5d5;
}
.modal-newsletter .form-control:focus {
  border-color: #ccc;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
.modal-newsletter .btn {
  color: #fff;
  background: #353535;
  text-decoration: none;
  transition: all 0.4s;
  line-height: normal;
  padding: 6px 20px;
  border: none;
  margin-top: 20px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}
.modal-newsletter .btn:hover,
.modal-newsletter .btn:focus {
  background: #171717;
  outline: none;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}
.modal-newsletter .form-group {
  padding: 0 20px;
  margin-top: 30px;
}
.modal-newsletter .footer-link {
  margin-top: 20px;
  min-height: 25px;
}
.modal-newsletter .footer-link a {
  color: #353535;
  display: inline-block;
  border-bottom: 2px solid;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
}
.modal-newsletter .footer-link a:hover,
.modal-newsletter .footer-link a:focus {
  text-decoration: none;
  border: none;
}
.hint-text {
  margin: 100px auto;
  text-align: center;
}
